<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id ="app">
      <!--作用域插槽：父组件替换插槽的标签，但是内容由子组件来提供。-->
      <cmp></cmp>
      <!--获取slot对象-->
      <cmp>
        <!--目的是获取子组件的language-->
        <template  slot-scope='slot'>
          <span v-for='item in slot.data'>{{item}} -- </span>
        </template>
      </cmp>
    </div>

    <template id='cmp'>
      <div>
        <slot :data='language'>
          <ul>
            <li v-for='item in language'>
              {{item}}
            </li>
          </ul>
        </slot>
        
      </div>
    </template>

    <script>
     //创建Vue实例,得到 ViewModel
     var vm = new Vue({
        el: '#app',
        data: {},
        methods: {},
        components: {
          cmp: {
            template: '#cmp',
            data() {
              return {
                language: ['Java', 'C#', 'JavaScript', 'Pyhton']
              }
          }
          }
        }
     });
    </script>
</body>

</html>